<div class="container">
  <br>

  <h4>Consulta de tiempo por ciudad</h4>

  <div class="row">
    <div class="col-lg-6 alineacion card">

      <form [formGroup]="formulario" (ngSubmit)="consultar()">

        <!-- CIUDAD -->
        <div class="mb-3">
          <label for="inputCiudad" class="form-label">
            Ciudad
          </label>

          <input
            type="text"
            class="form-control"
            id="inputCiudad"
            formControlName="ciudad"
          >

          <p
            class="text-danger"
            *ngIf="formulario.get('ciudad')?.invalid && formulario.get('ciudad')?.touched"
          >
            Ingrese una ciudad válida. Solamente se permiten letras y espacios.
          </p>
        </div>


        <!-- CODIGO POSTAL -->
        <div class="mb-3">
          <label for="inputCodigoPostal" class="form-label">
            Código Postal
          </label>

          <input
            type="text"
            class="form-control"
            id="inputCodigoPostal"
            formControlName="codigoPostal"
          >

          <p
            class="text-danger"
            *ngIf="formulario.get('codigoPostal')?.invalid && formulario.get('codigoPostal')?.touched"
          >
            Ingrese un código postal válido. Solamente se permiten letras y números.
          </p>
        </div>


        <!-- TEMPERATURA -->
        <div class="mb-3">
          <label for="inputTemperatura" class="form-label">
            Temperatura
          </label>

          <input
            type="text"
            class="form-control"
            id="inputTemperatura"
            formControlName="temperatura"
          >

          <p
            class="text-danger"
            *ngIf="formulario.get('temperatura')?.invalid && formulario.get('temperatura')?.touched"
          >
            Ingrese una temperatura válida. Solamente se permiten números y decimales.
          </p>
        </div>


        <!-- COORDENADAS -->
        <div class="mb-3">
          <label for="inputCoordenadas" class="form-label">
            Coordenadas
          </label>

          <input
            type="text"
            class="form-control"
            id="inputCoordenadas"
            formControlName="coordenadas"
          >

          <p
            class="text-danger"
            *ngIf="formulario.get('coordenadas')?.invalid && formulario.get('coordenadas')?.touched"
          >
            Ingrese las coordenadas con el formato: -31.74,-60.52
          </p>
        </div>


        <!-- BOTÓN -->
        <button type="submit" class="btn btn-primary">
          Consultar
        </button>

      </form>
    </div>


    <!-- RESULTADO -->
    <div class="col-lg-6 col-md-6 alineacion">

      <div class="card">
        <ul>
          <li>Ciudad:</li>
          <li>Código Postal:</li>
          <li>Temperatura:</li>
          <li>Coordenadas:</li>
        </ul>
      </div>

    </div>
  </div>
</div>
